<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout-admin :: layout(
        ~{::content},
        ~{fragments/header :: header},
        ~{::admin-sidebar-menu},
        ~{::page-css},
        ~{}
      )}">

<!-- 페이지 전용 CSS -->
<th:block th:fragment="page-css">
    <link rel="stylesheet" th:href="@{/css/admin_meetingroom.css}">
</th:block>

<!-- 페이지 콘텐츠 -->
<div th:fragment="content">
    <div class="page-header">
        <h1 class="page-title">회의실 관리</h1>
        <button type="button" class="btn-add">
            <i class="fas fa-plus"></i>
            회의실 추가
        </button>
    </div>

    <div class="table-container">
        <table class="resource-table">
            <colgroup>
                <col style="width:5%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:35%">
                <col style="width:10%">
                <col style="width:10%">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>회의실명</th>
                <th>위치</th>
                <th>비고</th>
                <th>상태</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script th:src="@{/js/meetingroom.js}"></script>
</div>

<!-- 사이드바 -->
<ul th:fragment="admin-sidebar-menu" class="sidebar-menu">
    <li class="selected">
        <a th:href="@{/view/admin/resource/meetingrooms}" class="sidebar-link">
            회의실 관리
        </a>
    </li>
</ul>
</html>
