<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content, headerFragment, sidebarFragment, pageCss, pageScript)">
<head>
    <meta charset="UTF-8">
    <title th:text="${companyName != null and companyName != '' ? (companyName + ' - ' + (pageTitle ?: 'OrbitFlow')) : (pageTitle ?: 'OrbitFlow')}"></title>
    <link rel="icon" href="data:,">
    
    <!-- Font 및 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <!-- 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/user-sidebar/user-sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/chatbot/chatbot.css}">

    <!-- 페이지별 CSS 삽입 위치 -->
    <th:block th:replace="${pageCss}"></th:block>

</head>
<body>
<div class="app-wrapper">
    <header th:replace="${headerFragment}"></header>

    <div class="app-body">
        <aside th:replace="~{fragments/sidebar :: shell(${sidebarFragment})}"></aside>

        <main class="app-content">
            <div th:replace="${content}"></div>
        </main>
    </div>
</div>

<!-- 세션 모달 (공통) -->
<div th:replace="~{fragments/session-modal :: body}"></div>

<!-- 챗봇 (공통) -->
<div th:replace="~{fragments/chatbot :: body}"></div>

<!-- Authentication 사용해서 eventSource(sse 연결)을 만드는 라이브러리 -->
<script src="https://unpkg.com/event-source-polyfill/src/eventsource.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/chatbot/chatbot.js}"></script>

<!-- 페이지별 JS 삽입 위치 -->
<th:block th:if="${pageScript}" th:replace="${pageScript}"></th:block>

</body>
</html>