<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content, headerFragment, sidebarFragment, pageCss, pageScript)"> <head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'OrbitFlow'">OrbitFlow</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/layout-user.css}">

    <th:block th:replace="${pageCss}"></th:block>

</head>
<body>
<div class="app-wrapper">
    <header th:replace="${headerFragment}"></header>

    <div class="app-body">
        <aside th:replace="~{fragments/sidebar :: shell(${sidebarFragment})}"></aside>

        <main class="app-content">
            <div th:replace="${content}"></div>
        </main>
    </div>
</div>

<script th:src="@{/js/common.js}"></script>

<th:block th:if="${pageScript}" th:replace="${pageScript}"></th:block>

</body>
</html>