<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 사이드바 메뉴 -->
<th:block th:fragment="sidebar">
    <ul class="sidebar-menu">
        <li class="menu-item no-sub">
            <a th:href="@{/view/reservation/me}" class="sidebar-link" id="myReservationLink">
                나의 예약 현황
            </a>
        </li>
        <li class="menu-item no-sub">
            <a th:href="@{/view/reservation/meetingroom}" class="sidebar-link" id="meetingRoomLink">
                회의실 예약
            </a>
        </li>
        <li class="menu-item no-sub">
            <a th:href="@{/view/reservation/car}" class="sidebar-link" id="carLink">
                차량 예약
            </a>
        </li>
        <li class="menu-item no-sub">
            <a th:href="@{/view/reservation/item}" class="sidebar-link" id="otherResourceLink">
                기타 자원 예약
            </a>
        </li>
    </ul>
</th:block>
</body>
</html>

