<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<ul th:fragment="menu">

    <li th:classappend="${currentMenu} == 'attendance-dashboard' ? ' selected' : ''">
        <a th:href="@{/view/admin/attendance/dashboard}" class="sidebar-link">
            <i class="fas fa-chart-line"></i> 대시보드
        </a>
    </li>

    <li th:classappend="${currentMenu} == 'attendance-rules' ? ' selected' : ''">
        <a th:href="@{/view/admin/attendance/rules}" class="sidebar-link">
            <i class="fas fa-cog"></i> 근태 규칙 관리
        </a>
    </li>
</ul>
</body>
</html>