<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<ul th:fragment="menu" class="sidebar-menu">
    <link rel="stylesheet" th:href="@{/css/user-sidebar/attendance-sidebar.css}">
    <li>
        <span class="attendance-section-title">출퇴근</span>
        <ul class="attendance-sub-menu">
            <li th:classappend="${currentMenu == 'commute'} ? 'selected' : ''">
                <a th:href="@{/view/attendance/commute}">출퇴근기록</a>
            </li>

            <li th:classappend="${currentMenu == 'monthly'} ? 'selected' : ''">
                <a th:href="@{/view/attendance/monthly}">월별 근태 현황</a>
            </li>
        </ul>
    </li>

    <li>
        <span class="attendance-section-title">휴가</span>
        <ul class="attendance-sub-menu">
            <li th:classappend="${currentMenu == 'annual-leave'} ? 'selected' : ''">
                <a th:href="@{/view/attendance/annual-leave}">내 연차 현황</a>
            </li>

            <li th:classappend="${currentMenu == 'vacation-apply'} ? 'selected' : ''">
                <a th:href="@{/attendance/vacation/apply}">휴가 신청서 작성</a>
            </li>

            <li th:classappend="${currentMenu == 'other-leave'} ? 'selected' : ''">
                <a th:href="@{/view/attendance/other-leave}">휴가 신청 현황</a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>