<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="header-bar">

    <nav class="gnb">
        <a th:href="@{/view/home}"
           th:classappend="${currentGNB}=='home' ? ' selected' : ''">홈</a>

        <a th:href="@{/view/approval}"
           th:classappend="${currentGNB}=='approval' ? ' selected' : ''">결재</a>

        <a th:href="@{/view/work}"
           th:classappend="${currentGNB}=='work' ? ' selected' : ''">근태</a>

        <a th:href="@{/view/schedule}"
           th:classappend="${currentGNB}=='schedule' ? ' selected' : ''">일정</a>

        <a th:href="@{/view/reservation}"
           th:classappend="${currentGNB}=='reservation' ? ' selected' : ''">예약</a>

        <a th:href="@{/view/board}"
           th:classappend="${currentGNB}=='board' ? ' selected' : ''">게시판</a>

        <a th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''COMPANY_ADMIN'')')}"
           th:href="@{/view/admin/resource/meetingrooms}"
           th:classappend="${currentGNB}=='admin' ? ' selected' : ''">
            관리자
        </a>
    </nav>

    <div class="profile">
        <div class="icon-group">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-bell"></i>
        </div>

        <div class="user-info">
            <span id="userName" class="user">사용자</span>
            <span class="logout" onclick="logout()">로그아웃</span>
        </div>
    </div>
</div>
</body>
</html>
