<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 사이드바 메뉴 -->
<th:block th:fragment="sidebar">
    <ul class="sidebar-menu">
        <li class="menu-item no-sub">
            <a th:href="@{/view/message/send}" class="sidebar-link" id="sendLink">
                메시지 보내기
            </a>
        </li>
        <li class="menu-item no-sub">
            <a th:href="@{/view/message/inbox}" class="sidebar-link" id="inboxLink">
                받은 메시지함
            </a>
        </li>
        <li class="menu-item no-sub">
            <a th:href="@{/view/message/sent}" class="sidebar-link" id="sentLink">
                보낸 메시지함
            </a>
        </li>
        <li class="menu-item no-sub">
            <a th:href="@{/view/message/archive}" class="sidebar-link" id="archiveLink">
                보관함
            </a>
        </li>
    </ul>
</th:block>
</body>
</html>



